<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="static/doctorStyle.css">

</head>

<body>
 


    <header>
        <nav>
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="{% url 'doctor' %}">Doctors</a></li>
            <li><a href="">Medical History</a></li>
            <a class = "my-2 ms-4" href= "{% url 'history' %}"
            <li><button type="button" class="btn btn-primary" > Write </button></a>
            </li>
          </ul>
        </nav>
      </header>

<section style = " display: block; margin: auto; width: 90%; text-align: center; font-size: 1.5rem; margin-top: 3rem;">
    
    {% for m in medi %}

   {% if user == m.user %}
   {{m.disc}}
   
   {% endif %}
   
    {% endfor %}
    
</section>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
  </script>
</body>

</html>